-if @addresses.length > 0

  Your addresses:

  %ol
    -@addresses.each do |address|
      %li
        Address 1:
        = address.address1
        %br
        Address 2:
        = address.address2
        %br
        Company:
        = address.company
        %br
        City:
        = address.city
        %br
        State:
        = address.state
        %br
        Zip:
        = address.zip

        %br
        =link_to 'Edit Address', edit_address_path(address.id)
        =link_to 'Delete Address', address_path(address.id), method: :delete
        %br
-else
  You don't have any addresses listed! 
  %br
  Click the link to add one!

%br
=link_to 'Add New Address', new_address_path
